@model OnlineElectronicsStore.Domain.Helpers.Pair<OnlineElectronicsStore.Domain.Response.IBaseResponse<List<OnlineElectronicsStore.Domain.ViewModels.Menu.OrderViewModel>>, OnlineElectronicsStore.Domain.Response.IBaseResponse<OnlineElectronicsStore.Domain.Entity.Profile>>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<style>
	article
    {
        z-index: 2;
        display: grid;
        margin: 0 5vw;
        grid-gap: 5px;
        font-size: 18px;
        grid-template-rows: auto 1fr;
    
    }
    
    article nav
    {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 300px 1fr;
        grid-gap: 10px;
    }
    
    .navigationLeft
    {
        list-style-type: none;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        border: 0;
        padding: 0;
        display: grid;
        height: 50vh;
    }
    
    #activeLI
    {
        background-color: #f0f0f0;
    }
    
    #activeI
    {
        color: #e00027;
    }
    
    .navigationLeft li
    {
        padding: 10px;
        display: grid;
        grid-auto-flow: column;
        justify-content: start;
        align-items: center;
    }
    
    .navigationLeft li:hover
    {
        background-color: #f7f7f7;
    }
    
    .navigationLeft li i
    {
        margin: 0 10px 0 0;
    }
    
    .tableOrder
    {
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        border: 0;
        padding: 10px;
        text-align: center;
    }
    
    .tableOrder thead
    {
        color: #929295;
        background-color: #FCFEFF;
        font-size: 18px;
    }
    
    .tableOrder tbody
    {
        font-size: 16px;
        word-wrap: normal;
    }
    
    .tableOrder button
    {
        background-color: #e00027;
        color: white;
        border: 0;
        border-radius: 5px;
        padding: 7px;
    }
    
    .tableOrder button:hover
    {
        background-color: #f03a59;
        transition: all 0.3s  ease-out;
        cursor: pointer;
    }

	li > a,
	li button a
	{
		text-decoration: none;
		color: black;
	}

	li > a:visited,
	li button a:visited
	{
		text-decoration: none;
		color: black;
	}

	li > a:hover,
	li button a:hover
	{
		color: black;
	}

	button > a,
	button > a:visited,
	button > a:hover
	{
		color: white;
		text-decoration: none;
	}
	
</style>

<article>
	<h2>Вітаємо, @Model.Second.Data.Name</h2>
	<nav>
		<ul class="navigationLeft">
			<li>
				<a asp-controller="Menu" asp-action="Cart">
					<i class="fa-solid fa-cart-shopping"></i>Корзина
				</a>
			</li>
			<li>
				<a asp-controller="Menu" asp-action="PersonalInformation">
					<i class="fa-solid fa-user"></i>Особиста інформація
				</a>
			</li>
			<li id="activeLI"><i class="fa-solid fa-list-ul" id="activeI"></i>Мої замовлення</li>
			<li><i class="fa-solid fa-heart"></i>Обране</li>
			<li>
				<a asp-controller="Menu" asp-action="Review">
					<i class="fa-solid fa-comment"></i>Мої відгуки
				</a>
			</li>
			@if (User.IsInRole("Admin"))
			{
				<li>
					<a asp-controller="Menu" asp-action="CreateProduct">
						<i class="fa-solid fa-list-ul"></i>Додати товар
					</a>
				</li>
			}
			<li>
				<a asp-controller="Account" asp-action="Logout">
					<i class="fa-solid fa-right-from-bracket" style="transform: rotate(180deg);"></i>Вихід
				</a>
			</li>
		</ul>
				
	<table class="tableOrder">
		<thead>
			<tr>
				<th>№ замовлення</th>
				<th>Дата замовлення</th>
				<th>Кількість товарів</th>
				<th>Сума замовлення</th>
				<th>Статус</th>
				<th>Спосіб доставки</th>
				<th>Відгук</th>
			</tr>
			</thead>
		<tbody>
		@if (Model.First.Data != null)
		{
			foreach (var item in Model.First.Data)
			{
				<tr>
					<td>№@item.Id</td>
					<td>@item.DateOrder</td>
					<td>@item.Quantity шт</td>
					<td>@item.TotalCost ₴</td>
					<td>@item.NameStatus</td>
					<td>@item.NameDelivery</td>
					<td>
						<button>
							<a href="@Url.Action("ReviewCreate", "Menu", new { id = @item.Id })">
								Залишити відгук
							</a> 
						</button>
					</td>
				</tr>
			}
		}
		</tbody>
		</table>
	</nav>
</article>
