@model OnlineElectronicsStore.Domain.ViewModels.Product.ProductDetailViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="product-image">
                    <h1>@Model.Name</h1>
                    <img src="data:image;base64,@Convert.ToBase64String(@Model.Images[1].ImageData)" alt="@Model.Name">
                    <div class="features mt-3">
                        <h3>Характеристики</h3>
                        <div class="row">
                        @foreach (var productCharacteristics in Model.ProductCharacteristics)
                        {
                            <div class="col">
                                <p>
                                    <strong>@productCharacteristics.CharacteristicName</strong>
                                    <br>
                                    @productCharacteristics.Value
                                </p>
                            </div>
                        }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 d-flex align-items-center justify-content-center">
                <div class="product-details">
                    <p class="price">$@Model.Price</p>
                    <p class="description">@Model.ShortDescription</p>
                    <button class="btn btn-primary">Додати до корзини</button>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md">
                <div class="description">
                    <h3>Опис</h3>
                    <p>@Model.LongDescription</p>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="reviews mt-3">
                <h3>Відгуки</h3>
                <div class="review">
                    <h4>John Doe</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id nulla vel quam convallis ultricies. Donec tincidunt, ipsum ac dapibus condimentum, est dolor viverra sem, in fermentum ex libero vel magna.</p>
                </div>
                <div class="review">
                    <h4>Jane Smith</h4>
                    <p>Nullam congue ipsum nec ex vehicula, eu ultricies neque viverra. Sed id feugiat sapien. Phasellus non enim fermentum, varius mi sed, sollicitudin justo.</p>
                </div>
                <div class="review">
                    <h4>Michael Johnson</h4>
                    <p>Quisque ullamcorper, metus nec hendrerit pharetra, lorem justo malesuada nulla, at dignissim sapien nunc vel mi. Vestibulum eget lacinia ex.</p>
                </div>
            </div>
        </div>
    </div>
